<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/404.css">
<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <div class="page-intro not-found-intro">
        <h1>404 - Page does not exist</h1>
    </div>

    <!-- Newsletter -->
    <%- include('./partials/newsletter.ejs') %>

    <!-------------- Footer --------------->

    <footer id="footer">
    <!-- Contact Us Form -->
    <%- include('./partials/contact.ejs')  %> 

    <%- include('./partials/footer.ejs')  %> 
    </footer>

    <!--------------- Footer Ends ----------------->
    
</body>
</html>