<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/about.css">
<body>
    <!-- Preloader -->
    <%- include('./partials/preloader.ejs') %>
    
    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <!-- Social Icons -->
    <%- include('./partials/social.ejs') %>

    <!-- Intro -->
    <div class="page-intro about-intro">
        <h1>About Us</h1>
    </div>

    <div class="about-container">
        <p>	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;The Student’s Automobile Club-KGEC, the official automobile club of KGEC has been established under the supervision of Dr. Sourav Kr. Das (Principal ) and Prof. Dr. Santanu Das (Head of the Department,Dept. of Mechanical Engineering).The club has been formed for the bright,young and freshly talented minds to apply their innovative ideas and thoughts in automotive projects and applications.The club aims to wipe out the grievances of the students for the lack of opportunity and exposure in automobile field that KGECians faced with respect to other premier engineering institutions in the country.The club will enhance the students to both learn and apply their knowledge in the desired projects and prototypes and further participating in national level automobile racing and prototyping events like :-</p>
        <ul>
            <li>Supra SAE</li>
            <li>Formula BHARAT</li>
            <li>FFS FMAE</li>
        </ul>
        <div id="about-img-container">
            <img src="/images/about-image/formulabharat.jpg" alt="Formula-Bharat">
            <img src="/images/about-image/supra-sae.png" alt="Formula-Bharat">
        </div>
        <br>
        <h4>Few activities about the club :-</h4>
        <ul>
        <li>To Organize periodic webinar,seminar,symposiums and workshops on automobile technology.</li>
        <li>To collaborate with other societies (both national and international levels) having similar objectives.</li>
        <li>To conduct Industrial and technical exhibitions.</li>
        <li>To organize guest lectures on latest technological advancements,evaluation of project work, and workshops from industrial experts in the Institute.</li>
        <li>To encourage students in developing auto projects and research .</li>
        <li>To develop close relations between Industry and Institute via Interactive automobile prototypes and projects.</li>
        <li>Opening of KGEC SAE chapter.</li>
        </ul>
        <br><br>
        <h4 style="text-align: center; font-weight: 300; font-size: 2.5rem;">Our Location</h4>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.8812201808146!2d88.44659801424989!3d22.991394923263652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f8952d71094a7f%3A0x8f1c6d3ff467d96b!2sKalyani%20Government%20Engineering%20College!5e0!3m2!1sen!2sin!4v1583172378229!5m2!1sen!2sin"
            width="100%" height="300px" frameborder="10px" style="border:0; margin: 0; padding:0" allowfullscreen=""></iframe>
    </div>
    
    <!-- Newsletter -->
    <%- include('./partials/newsletter.ejs') %>

    <!-------------- Footer --------------->

    <footer id="footer">
    <!-- Contact Us Form -->
    <%- include('./partials/contact.ejs')  %> 

    <%- include('./partials/footer.ejs')  %> 
    </footer>

    <!--------------- Footer Ends ----------------->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up "></i></a>
</body>
</html>