<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/blogs.css">
<body>
    <!-- Preloader -->
    <%- include('./partials/preloader.ejs') %>
    
    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <!-- Social Icons -->
    <%- include('./partials/social.ejs') %>

    <div class="page-intro blogs-intro">
        <h1>Blogs</h1>
    </div>

    <!-- <div style="color: black;">
        <a href="/blogs/2021-07-13-flying-cars">1</a>
        <a href="/blogs/2021-05-24-automatic-transmission">2</a>
        <a href="/blogs/2020-12-07-f1-regulatons-2021">3</a>
        <a href="/blogs/2020-12-06-types-of-electric-cars">4</a>
        <a href="/blogs/2020-12-05-diff-bw-awd-4wd">5</a>
        <a href="/blogs/2020-12-04-three-cylinder-engine">6</a>
    </div> -->

    <br><br>

    <div class="blog-template">
        <div class="blog-img">
            <img src="/images/blogs/2021-07-13-flying-cars/7.jpg" alt="Flying Cars">
        </div>
        <div class="blog-text">
            <h2 class="blog-header">Flying Cars</h2>
            <p class="blog-snippet">"Once you have tasted flight, you will forever walk the earth with your eyes turned skyward, for there you have been, and there you will always long to return." ~ Leonardo da Vinci.......</p>
            <button class="blog-btn"><a href="/blogs/2021-07-13-flying-cars">Read More</a></button>
        </div>
    </div>

    <hr>
    <div class="blog-template right">
        <div class="blog-img">
            <img src="/images/blogs/2021-05-24-automatic-transmission/autotransmission.jpg" alt="Flying Cars">
        </div>
        <div class="blog-text">
            <h2 class="blog-header">Automatic Transmission</h2>
            <p class="blog-snippet">Just over 100 years ago, manual transmissions were the only option for drivers until the Sturtevant brothers of Boston attempted the first automatic transmission in 1904. Cars were originally made of only mechanical parts, but now........</p>
            <button class="blog-btn"><a href="/blogs/2021-07-13-flying-cars">Read More</a></button>
        </div>
    </div>

    <hr>
    <div class="blog-template">
        <div class="blog-img">
            <img src="/images/blogs/2020-12-07-f1-regulatons-2021/RS19.jpg" alt="Flying Cars">
        </div>
        <div class="blog-text">
            <h2 class="blog-header">F1 New Regulation Changes for 2021 Season</h2>
            <p class="blog-snippet">A new era of F1 is on the horizon with the championship set to tweak its rulebook next(or next to next) year........</p>
            <button class="blog-btn"><a href="/blogs/2020-12-07-f1-regulatons-2021">Read More</a></button>
        </div>
    </div>

    <hr>
    <div class="blog-template right">
        <div class="blog-img">
            <img src="/images/blogs/2020-12-06-types-of-electric-cars/tesla.jpg" alt="Flying Cars">
        </div>
        <div class="blog-text">
            <h2 class="blog-header">Types of Electric Cars</h2>
            <p class="blog-snippet">The whole world is everchanging and so is the automobile industry. With different technologies making cars both more fun and safer to drive, attention is also being paid to make automobiles greener and thus safer for the environment. When we associate the word “green” with the term “cars”, the first thing that comes to our mind is “Electric Cars”. The Electric Cars market is rapidly gaining market owing to its advantages over the IC Engine counterpart........</p>
            <button class="blog-btn"><a href="/blogs/2020-12-06-types-of-electric-cars">Read More</a></button>
        </div>
    </div>

    <hr>
    <div class="blog-template">
        <div class="blog-img">
            <img src="/images/blogs/2020-12-05-diff-bw-awd-4wd/disof4wd.jpg" alt="Flying Cars">
        </div>
        <div class="blog-text">
            <h2 class="blog-header">Difference between AWD & 4WD</h2>
            <p class="blog-snippet">If we roll back a few years, people had very narrow options when it came to choosing a car with 4 driven wheels. It was mainly centered at trucks or large SUVs. In India, one such car was Maruti Suzuki Gypsy........</p>
            <button class="blog-btn"><a href="/blogs/2020-12-05-diff-bw-awd-4wd">Read More</a></button>
        </div>
    </div>

    <hr>
    <div class="blog-template right">
        <div class="blog-img">
            <img src="/images/blogs/2020-12-04-three-cylinder-engine/basicStruct.png" alt="Flying Cars">
        </div>
        <div class="blog-text">
            <h2 class="blog-header">Three Cylinder Engine</h2>
            <p class="blog-snippet">When we read this term, the first thing that comes to our mind is entry-level budget cars. And it’s not wrong to be thinking that way as 3-cylinder engines were mainly used in the low budget entry-level cars like Maruti Suzuki Alto........</p>
            <button class="blog-btn"><a href="/blogs/2020-12-04-three-cylinder-engine">Read More</a></button>
        </div>
    </div>

    <!-------------- Footer --------------->

    <footer id="footer">    
        <%- include('./partials/footer.ejs')  %> 
    </footer>

    <!--------------- Footer Ends ----------------->

</body>
</html>