<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/blogs.css">
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0" nonce="ejQ3R5Gt"></script>

    <!-- Preloader -->
    <%- include('./partials/preloader.ejs') %>

    <!-- Navbar -->
    <%- include('./partials/nav.ejs') %>

    <!-- Social Icons -->
    <%- include('./partials/social.ejs') %>

    <!-- carousel -->
    <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel slide carousel-fade " data-ride="carousel">
                <ol class="carousel-indicators">
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="carousel-background"><img src="images/caro8.jpg"
                                class="img-responsive center-block" alt=""> </div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h1>
                                    <strong>Students' Automobile Club, KGEC</strong>
                                </h1>
                                <h3>Design - Build - Test</h3>
                                <a href="#float-container" class="btn-get-started scrollto">Lets Drive </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-background"><img src="images/caro3.png"
                                class="img-responsive center-block" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h1>
                                    <strong>Students' Automobile Club, KGEC</strong>
                                </h1>
                                <h3>Design - Build - Test</h3>
                                <a href="#float-container" class="btn-get-started scrollto">Lets Drive </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-background"><img src="images/caro2.png"
                                class="img-responsive center-block" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h1>
                                    <strong>Students' Automobile Club, KGEC</strong>
                                </h1>
                                <h3>Design - Build - Test</h3>
                                <a href="#float-container" class="btn-get-started scrollto">Lets Drive </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-background"><img src="images/caro5.png"
                                class="img-responsive center-block" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h1>
                                    <strong>Students' Automobile Club, KGEC</strong>
                                </h1>
                                <h3>Design - Build - Test</h3>
                                <a href="#float-container" class="btn-get-started scrollto">Lets Drive </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-background"><img src="images/caro6.jpg"
                                class="img-responsive center-block" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h1>
                                    <strong>Students' Automobile Club, KGEC</strong>
                                </h1>
                                <h3>Design - Build - Test</h3>
                                <a href="#float-container" class="btn-get-started scrollto">Lets Drive </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <!--#intro -->

    <!-- who are we -->
    <!-- About-->

    <div id="float-container">
        <div class="who-are-we" id="blurb" data-aos="fade-up">
            <h2 style="text-align: center">Who are we?</h2><br>
            <p> The Students' Automobile Club-KGEC, the official automobile club of KGEC is established to
                bridge the gap between the techincal knowledge and skills in the automobile fields among the
                engineering students.</a>
            </p>
        </div>

        <div class="notice-box-1" data-aos="fade-up">
            <div class="fb-page" data-href="https://www.facebook.com/kgecSAC/" data-tabs="timeline" data-width="400" data-height="500" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/kgecSAC/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kgecSAC/">Students&#039; Automobile Club-KGEC</a></blockquote></div>
        </div>

        <div class="notice-box-2" data-aos="fade-up">
            <div class="fb-page" data-href="https://www.facebook.com/kgecSAC/" data-tabs="timeline" data-width="300" data-height="400" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/kgecSAC/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kgecSAC/">Students&#039; Automobile Club-KGEC</a></blockquote></div>
        </div>
    </div>

    <!-- Services Section -->

    <section id="promote" class="wow fadeIn" container-fluid>
        <div class="container-fluid grid1">
            <div class="row ">
                <div class="col-12 col-md-12 ">
                    <h1 id="sank ">
                        <center style="padding: 15px 0 5px 0; color: rgb(0, 140, 255);">Team Divisions</center>
                    </h1>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-md-4 grid2 card ">
                    <div class="row box ">
                        <i class="fas fa-fire-alt" aria-hidden="true " style="font-size:48px "></i>
                    </div>
                    <div class="row ">
                        Thermal (IC engine & Radiators)
                    </div>
                </div>
                <div class="col-12 col-md-4 grid2 card ">
                    <div class="row box ">
                        <!-- <i class="fa fa-graduation-cap " aria-hidden="true " style="font-size:48px"></i> -->
                        <img src="/images/brake.png" alt="Brake" style="height: 50px; width: 50px">
                    </div>
                    <div class="row ">
                        Suspension & Brakes
                    </div>
                </div>
                <div class="col-12 col-md-4 grid2 card ">
                    <div class="row box ">
                        <i class="fas fa-car-side" style="font-size:48px"></i>
                    </div>
                    <div class="row ">
                        Chassis
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-md-4 grid2 card ">
                    <div class="row box ">
                        <i class="fas fa-cogs" style="font-size:48px"></i>
                    </div>
                    <div class="row ">
                        Drivetrain and Steering
                    </div>
                </div>
                <div class="col-12 col-md-4 grid2 card ">
                    <div class="row box ">
                        <i class="fas fa-car-battery" aria-hidden="true " style="font-size:48px"></i>
                    </div>
                    <div class="row ">
                        Electrical & Electronics
                    </div>
                </div>
                <div class="col-12 col-md-4 grid2 card ">
                    <div class="row box ">
                        <i class="fas fa-users" style="font-size:48px"></i>
                    </div>
                    <div class="row ">
                        Media, Webdev & PR
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Latest Blog -->
    <section class="index-blog">
        <h2>Our Latest Blog</h2>
        <div class="blog-template">
            <div class="blog-img">
                <img src="/images/blogs/2021-07-13-flying-cars/7.jpg" alt="Flying Cars">
            </div>
            <div class="blog-text">
                <h2 class="blog-header">Flying Cars</h2>
                <p class="blog-snippet">"Once you have tasted flight, you will forever walk the earth with your eyes turned skyward, for there you have been, and there you will always long to return." ~ Leonardo da Vinci.......</p>
                <button class="blog-btn"><a href="/blogs/2021-07-13-flying-cars">Read More</a></button>
            </div>
        </div>
    </section>

    <hr>

    <!-- Youtube section -->
    <br>
    <section class="youtube">
        <p class="youtube-header" data-aos="fade-up">Inauguration Event of SAC, KGEC</p>
        <div class="youtube-player-wrapper" data-aos="fade-up">
            <iframe class="youtube-player" src="https://www.youtube.com/embed/0jXWLDPYNTg"></iframe>
        </div>
    </section>
    <br>

    <!-- Newsletter -->
    <%- include('./partials/newsletter.ejs') %>

    <!-------------- Footer --------------->

    <footer id="footer">
    <!-- Contact Us Form -->
    <%- include('./partials/contact.ejs')  %> 

    <%- include('./partials/footer.ejs')  %> 
    </footer>

    <!--------------- Footer Ends ----------------->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up "></i></a>
</body>

</html>